@import "tailwindcss";

:root {
  --background: #0e0e10;
  --surface: #16181c;
  --surface-hover: #1d1f23;
  --border: #2f3336;
  --primary: #e7e9ea;
  --secondary: #a8b3cf;
  --muted: #71767b;
  --error: #fb2c36;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-error: var(--error);
}

@layer components {
  .auth-input {
    @apply bg-surface p-3.5 rounded-lg hover:bg-surface-hover transition-colors duration-300 text-sm outline-0 w-full;
  }

  .auth-btn {
    @apply bg-primary text-background font-medium w-full py-4 rounded-lg cursor-pointer hover:bg-primary/85 transition-colors duration-300 disabled:opacity-50 flex items-center justify-center gap-2;
  }
}

body {
  background: var(--background);
  color: var(--primary);
}
